<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wishpool</title>
	<!-- Can throw in Facebook JS SDK and other API scripts here -->
	<!-- End of API scripts -->

</head>

<body ng-app="wishpoolApp">

	<!-- Toolbar -->
	<md-toolbar class="md-whiteframe-2z" ng-controller="placeholderCtrl" layout="row">
		<md-button ng-click="toggleSidenav()">
			<md-icon md-font-set="material-icons">menu</md-icon>
		</md-button>
		<h2>Wishpool</h2>
	</md-toolbar>
	<!-- End of Toolbar -->

	<!-- Sidebar + Main Content -->
	<div id="underToolbar" layout="row" flex>

		<!-- Sidebar -->
		<md-sidenav
			class="md-whiteframe-z2"
			md-component-id="left"
			md-is-locked-open="$mdMedia('gt-sm')"
			layout="column"
		/>
			<md-toolbar>
				<h2>Some Navbar Header</h2>
			</md-toolbar>

			<md-list flex>
				<md-list-item>
					<md-icon md-font-set="material-icons">home</md-icon>
					<p>Home</p>
				</md-list-item>
				<md-list-item>
					<md-icon md-font-set="material-icons">accessibility</md-icon>
					<p>Buy a Gift</p>
				</md-list-item>
			</md-list>

		</md-sidenav>
		<!-- End of Sidebar -->

		<!-- Main Content -->
		<md-content flex>
			<ui-view></ui-view>
		</md-content>
		<!-- End of Main Content -->
	</div>
	<!-- End of Sidebar + Main Content -->

</body>	

</html>
